@model IEnumerable<Market.Models.Seller>

@{
    ViewBag.Title = "GetAllSellers";
}



<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Sellers</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
        </ul>
    </div>
</nav><p>
    @Html.ActionLink("Create New", "AddSeller", null, htmlAttributes: new { @class = "btn btn-outline-success" })     |    @Html.ActionLink("Home", "Index", "Home", null, htmlAttributes: new { @class = "btn btn-outline-secondary" })
</p>



<table class="table table-striped">
    <thead class="thead-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MobileNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rating)
            </th>
            <th></th>
        </tr>
    </thead>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MobileNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rating)
            </td>
            <td>
                @Html.ActionLink("Edit", "EditSeller", new { id = item.SellerId }, htmlAttributes: new { @class = "btn btn-warning" }) |
                @Html.ActionLink("Details", "Details", "Seller", new { id = item.SellerId }, htmlAttributes: new { @class = "btn btn-info" }) |
                @Html.ActionLink("Delete", "DeleteSeller", new { id = item.SellerId }, new { onclick = "return confirm('Confirm Delete?');", @class = "btn btn-danger" })
            </td>
        </tr>
    }

</table>
